ehragent/__pycache__/*
tools/__pycache__/*
tools/__pycache__/calculator.cpython-39.pyc
tools/__pycache__/tabtools.cpython-39.pyc
logs/
.cache/42/cache.db
ehragent/.cache/*
report/comment.cut
report/*.fls
report/*.aux
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.out
report/*.synctex.gz
report/acmart-primary/*
